.container {
  text-align: center;
  font-size: 2rem;
  color: #999;
  margin-left: 40px;
  text-align: center;
}

div {
  margin-top: 20px;
}


.labelBack {
  margin-left: 50px;
  width: 100px;
  padding: 7px;
}



.img {
  width: 30%;
  height: 30%;
  
}

.postImage {
  /* margin-left: -175px; */
  margin-top: 1rem;
  margin-left: 40px;
  text-align: center;
}


.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
  margin-left: 40px;
  text-align: center;
}

p.text {
  font-size: 1.25rem;
  color: #242222;
  margin-top: 0.5rem;
  line-height: 1.5;
  max-width: 95%;
  margin-left: 30px;
}


.button {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #524a4a;
  padding: 3px;
  background-color: #acbbad;
  border-radius: 12px;
  font-size: 19px;
  margin: 4px 2px;
}


.button span {
  margin-left: 5px;
}


.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 60px;
}

.buttons-wrapper {
  display: flex;
}






.textHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #a09999;

  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 1000px;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #00698C;
}
/* 
.textComment {
  width: 100px;
} */